@media (max-width:768px) {
    .app {
        padding: 0;
        max-height: calc(100vh - 65px);
    }

    .app .chats {
        /* margin-inline: 10px; */
        border-radius: 0;
        width: 100vw;
        height: calc(100% - 75px);
        position: fixed;
        top: 0;
        left: 0;
    }

    .app .chat-info {
        position: fixed;
        top: 0px;
        width: 300px;
        border-radius: 40px 0 0 40px;
        z-index: 999999;
        max-height: calc(100% - 75px);
        right: -400px;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.2) -60px 0px 40px -7px;
    }

    .app .chats .chat-menu {
        position: fixed;
        top: 0px;
        width: 300px;
        z-index: 999999;
        border-radius: 0 40px 40px 0;
        max-height: calc(100% - 75px);
        left: -400px;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.2) 60px 0px 40px -7px;
        overflow: hidden;
    }

    .page .sidebar {
        position: fixed;
        bottom: 0;
        z-index: 99999;
        background-image: linear-gradient(-45deg, #A2D3E9, #ADDBD9);
        width: 100%;
        height: 75px;
    }

    .dark .page .sidebar {
        background-image: linear-gradient(45deg, #2F2F41, #171B2C);
    }

    .page .sidebar .logo {
        display: none;
    }

    .page .sidebar .buttons {
        flex-direction: row;
        gap: unset;
        justify-content: space-around;
        width: 100%;
        padding: 5px 10px;
    }

    .page .sidebar .buttons a {
        width: 50px;
        height: fit-content;
    }

    .page .sidebar .buttons a img {
        width: 26px;
        margin-left: 0px;
        margin-top: -2px;
    }

    .page .sidebar .buttons a.active {
        border-left: none;
        border-bottom: 3px solid white;
    }
}