@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #2056BE;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
}

*:hover::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1;
}

*:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2b55a86b;
}

.page {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.page .sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.page .sidebar .logo {
    width: 60px;
    margin: 30px 0;
}

.page .sidebar .buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: calc(100% + 20px);
}

.page .sidebar .buttons a {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    font-size: 22px;
    padding: 10px;
}

.page .sidebar .buttons a.active {
    border-left: 3px solid white;
}

.app {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 10px 20px 10px 0;
    overflow: hidden;
}

.app>div {
    border-radius: 40px;
    height: 100%;
}

.app .chats {
    flex: 1;
    background-color: #F4F7FF;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.app .chat-info {
    width: 26%;
    background-color: white;
    padding: 20px;
    overflow-y: hidden;
}

.app .chats .chat-menu {
    border-radius: 40px;
    height: 100%;
    width: 33%;
    background-color: white;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 12px 0px 30px -16px; */
}

.app .chats .chat-menu .new-chat {
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 30px 0px;
}

.app .chats .chat-menu .new-chat i {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    padding: 5px;
    aspect-ratio: 1;
    font-size: 18px;
    color: #2b54a8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5ff;
}

.app .chats .chat-menu .new-chat span {
    font-weight: 600;
    color: #3a3e46;
}

.app .chats .chat-menu .title {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.app .chats .chat-menu .title span {
    color: #1e262c;
    font-size: 23px;
    font-weight: 600;
}

.app .chats .chat-menu .title i {
    margin-inline: auto 10px;
    color: #777;
    font-size: 18px;
}

.app .chats .chat-menu .search {
    position: relative;
    z-index: 99999;
}

.app .chats .chat-menu .search input {
    background-color: #f4f7ff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

.app .chats .chat-menu .search i {
    position: absolute;
    top: 50%;
    right: 15px;
    color: #656f7a;
    transform: translateY(-50%);
}

.app .chats .chat-menu .chat:first-of-type {
    margin-top: 30px;
}

.app .chats .chat-menu .chat {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 20px;
    transform: translateX(-20px);
    border-left: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.app .chats .chat-menu .chat img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.app .chats .chat-menu .chat .content {
    width: 100%;
}

.app .chats .chat-menu .chat .name {
    display: block;
    font-weight: 600;
    max-width: 98%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: #222a31;
}

.app .chats .chat-menu .chat span:last-of-type {
    font-size: 14px;
    color: #777;
}

.app .chats .chat-menu .chat.active {
    background-color: #F4F7FF;
    width: calc(100% + 50px);
    padding: 10px 20px;
    position: relative;
    border-left: 3px solid #F36BAB;
}

.app .chats .chat-menu .chat.active .content {
    width: calc(100% - 55px);
}

.app .chats .chat-menu .chat.active::before,
.app .chats .chat-menu .chat.active::after {
    content: '';
    position: absolute;
    border-radius: 40px;
    background-color: white;
    width: 50px;
    height: 50px;
    right: 0;
    top: -72%;
    transform: translateX(-20%);
    /* box-shadow: rgb(0 0 0 / 37%) 13px 12px 30px -16px, #F4F7FF 0 0 0; */
    z-index: 119;
    pointer-events: none;
    transition: background 0.3s;
}

.app .chats .chat-menu .chat.active::after {
    bottom: -72%;
    top: unset;
    /* box-shadow: rgb(0 0 0 / 37%) 13px -12px 30px -16px; */
}

.app .chats .chat-menu .chat.active .round {
    display: block;
    width: 21px;
    height: 30px;
    background-color: #F4F7FF;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-50%) translateY(-100%);
    pointer-events: none;
    transition: background 0.3s;
}

.app .chats .chat-menu .chat.active .round:last-of-type {
    top: unset;
    bottom: -60px;
}

.app .chats .chat {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app .chats .chat .chat-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.app .chats .chat .chat-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -90%;
    background-image: linear-gradient(to bottom, #f4f7ff 70%, transparent);
    z-index: -1;
}



.app .chats .chat .chat-title .user {
    display: flex;
    align-items: center;
}

.app .chats .chat .chat-title .user img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.app .chats .chat .chat-title .user .u-info .name {
    display: block;
    font-weight: 600;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: #222a31;
}

.app .chats .chat .chat-title .user .u-info span:last-of-type {
    font-size: 14px;
    color: #777;
}

.app .chats .chat .chat-title i {
    margin-inline: auto 10px;
}

.app .chats .chat .messages-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    overflow-y: auto;
}

.app .chats .chat .messages-container .message-sent {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    transition: 0.3s;
}

.app .chats .chat .messages-container>div:first-of-type {
    margin-top: 10px;
}

.app .chats .chat .messages-container>div:last-of-type {
    margin-bottom: 50px;
}

.msg-transition {
    transform: translateY(50px);
    opacity: 0;
}

.app .chats .chat .messages-container .sender-img img {
    width: 35px;
    border-radius: 50%;
}

.app .chats .chat .messages-container .message {
    max-width: calc(100% - 100px);
    width: fit-content;
    padding: 15px;
    margin-inline: 10px;
    font-weight: 500;
}

.app .chats .chat .messages-container .message-sent .message {
    color: white;
    background-color: #2056BE;
    border-radius: 20px 20px 0;
    text-align: right;
}

.app .chats .chat .messages-container .message-received {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
}

.app .chats .chat .messages-container .message-received .message {
    color: black;
    background-color: white;
    border-radius: 20px 20px 20px 0;
    text-align: left;
}

.app .chats .chat .messages-container .message .text {
    font-size: 16px;
    margin-bottom: 10px;
}

.app .chats .chat .messages-container .message .time {
    font-size: 14px;
}

.app .chats .chat .messages-input {
    width: 100%;
    position: relative;
    z-index: 999;
}

.app .chats .chat .messages-input::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -60%;
    left: 0;
    background-image: linear-gradient(to top, #f4f7ff 70%, transparent);
    z-index: -1;
}

.app .chats .chat .messages-input input {
    width: 100%;
    padding: 20px 100px 20px 60px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50px;
}

.app .chats .chat .messages-input i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.app .chats .chat .messages-input .plus,
.app .chats .chat .messages-input .send {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    padding: 5px;
    aspect-ratio: 1;
    font-size: 18px;
    color: #2b54a8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5ff;
}

.app .chats .chat .messages-input .plus {
    left: 10px
}

.app .chats .chat .messages-input .emoji {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    padding: 5px;
    aspect-ratio: 1;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50px;
}

.app .chats .chat .messages-input .send {
    right: 5px;
    cursor: pointer;
}

.chat-info .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.chat-info .user-info .user-photo img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.5) 12px 0px 30px -7px;
}

.chat-info .user-info .name {
    color: #222a31;
    font-weight: 600;
    margin-top: 5px;
}

.chat-info .user-info .info {
    font-size: 13px;
    font-weight: bold;
    color: #777;
}

.chat-info .attachments {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.chat-info .accordion {
    position: relative;
    margin: 10px 0;
    border-radius: 30px;
    overflow: hidden;
}

.chat-info .accordion .title {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--accordion-color);
}

.chat-info .accordion .title::before {
    content: '\f078';
    font-family: "font awesome 6 free";
    font-weight: 900;
    color: #5a5a5a;
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.3s;
    transform: translateY(-50%);
}

.chat-info .accordion.active .title::before {
    transform: translateY(-50%) rotate(180deg);
}

.chat-info .accordion .title i {
    color: var(--icon-color);
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    width: 35px;
    padding: 5px;
    aspect-ratio: 1;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.chat-info .accordion .content {
    position: relative;
    background-color: var(--accordion-color);
    max-height: 0px;
    overflow: hidden;
    border-top: 2px solid var(--accordion-color);
    transition: 0.3s;
}

.chat-info .accordion.active .content {
    max-height: 230px;
    border-top: 2px solid white;
    transition: 0.3s;
    padding-bottom: 15px;
}

.chat-info .content span {
    margin: 15px 20px 0px;
    display: flex;
    align-items: center;
}

.chat-info .content span img:first-of-type {
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    padding: 10px;
    aspect-ratio: 1;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.chat-info .content span img:last-of-type {
    width: 15px;
    margin-left: auto;
    cursor: pointer;
}